<form method="post" action="{{ path('app_lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce lieu?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    <button class="uk-button uk-button-default">Supprimer</button>
</form>
