{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <div class="uk-flex uk-padding-large">
        <div class=" uk-width-1-4"></div>
            <div class=" uk-width-2-4">
                <h1 class="uk-text-center">Créer un nouveau Lieu</h1>
            </div>
        <div class=" uk-width-1-4"></div>
    </div>

    {{ include('lieu/_form.html.twig') }}

{% endblock %}
