{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <div class="photo">
        <img  src="{{ participant.photo }}">
    </div>

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
