{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}

    <div class="uk-margin-large">
        <div class="uk-grid">
            <div class="uk-width-1-3"></div>
            <div class="uk-width-1-3" >
                 <h1>Edit Campus</h1>
            </div>
            <div class="uk-width-1-3"></div>
        </div>
    </div>

    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
