{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}

    <div class="uk-margin-large">
        <h1>Gérer les campus</h1>
    </div>


            <div class="uk-grid">
                <div class="uk-width-1-4"></div>
                <div class="uk-width-1-4">Nom</div>
                <div class="uk-width-1-4">actions</div>
                <div class="uk-width-1-4"></div>
            </div>
        <body>
        {% for campus in campuses %}
            <div class="uk-grid">
                <div  class="uk-width-1-4"></div>
                <div  class="uk-width-1-4">{{ campus.nom }}</div>

                <div  class="uk-width-1-4">
                    <p class="uk-margin">
                        <a class="uk-button uk-button-default" href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                        <a class="uk-button uk-button-default" href="{{ path('app_campus_delete', {'id': campus.id}) }}">Supprimer</a>
                    </p>
                </div>
                <div  class="uk-width-1-4"></div>
            </div>
        {% else %}
            <div>
                <div colspan="3">no records found</div>
            </div>
        {% endfor %}
        </body>
            <div  class="uk-grid">
                <div class="uk-width-1-5"></div>
                <div class="uk-width-1-5"></div>
                <div class="uk-width-1-5">
                    <p uk-margin>
                        <a class="uk-button uk-button-default" href="{{ path('app_campus_new') }}">Ajouter</a>
                    </p>
                </div>
                <div class="uk-width-1-5"></div>
                <div class="uk-width-1-5"></div>
            </div>
{% endblock %}
