{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}
    <h1>Campus</h1>
    <table class="uk-table uk-table-divider">
{#        <thead>#}
{#        </thead>#}
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ campus.nom }}</td>
        </tr>
        </tbody>
    </table>
    <div uk-margin>
        <a class="uk-button uk-button-default" href="{{ path('app_campus_index') }}">back to list</a>
        <a class="uk-button uk-button-default" href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>
    </div>
    {{ include('campus/_delete_form.html.twig') }}

{% endblock %}
