.logo {
    width: 10vw;
    height: 10vh;
    max-width: 150px;
    max-height: 150px;
}

footer{
    margin: 0;
}

header{flex-direction: row;
        justify-content: space-between;
}

body{
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.photo{
    width: 10vw;
    height: 10vh;
    max-width: 150px;
    max-height: 150px;
}

.checkboxClass{
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
