<form method="post" action="{{ path('app_sortie_delete', {'id': sortie.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cette sortie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
    <label for="motif">Motif</label>
    <input type="text" name="motif">
    <button class="btn">Confirmer l'annulation</button>
</form>
