{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <di class="uk-flex">
        <div class="uk-width-1-3"></div>
        <di class="uk-width-1-3">
            <h1 class="uk-text-center">Créer une nouvelle sortie</h1>
        </di>
        <div  class="uk-width-1-3"></div>
    </di>


    {{ include('sortie/_form.html.twig') }}

    <di class="uk-flex uk-padding-small">
        <div class="uk-width-1-3"></div>
        <di class="uk-width-1-3">
            <a class="uk-button uk-button-default uk-width-1-1" href="{{ path('app_lieu_new') }}">Ajouter un lieu de sortie</a>
        </di>
        <div  class="uk-width-1-3"></div>
    </di>

        <di class="uk-flex">
            <div class="uk-width-1-3"></div>
            <di class="uk-width-1-3">
                <a class="uk-button uk-button-default uk-width-1-1" href="{{ path('app_sortie_index') }}">Retour à la liste</a>
            </di>
            <div  class="uk-width-1-3"></div>
        </di>
{% endblock %}
