{{ form_start(formUpload) }}
    {{ form_widget(formUpload) }}
<p uk-margin>
    <button class="uk-button uk-button-default" type="submit" onsubmit="alert('Votre fichier a bien été prise en compte. Les nouveaux utilisateurs seront enregistrés d\'ici 5 minutes')">Envoyer</button>
</p>
{{ form_end(formUpload) }}