{% extends 'base.html.twig' %}

{% block body %}
    <p>Veuillez vous assurer que les pseudos et les adresses mails ne soient pas identiques avant de soumettre votre fichier.</p>
{{ include('upload/_form.html.twig') }}

{% endblock %}
