{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
    <h1>Modifier la ville</h1>

    <div>
        {{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="uk-button uk-button-default" href="{{ path('app_ville_index') }}">back to list</a>

        {{ include('ville/_delete_form.html.twig') }}
    </div>
{% endblock %}
