{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
    <div class="uk-flex uk-padding-large">
        <div class=" uk-width-1-4"></div>
        <div class=" uk-width-2-4">
            <h1 class="uk-text-center">Modifier la ville</h1>
        </div>
        <div class=" uk-width-1-4"></div>
    </div>

    {{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="uk-flex uk-padding-small">
        <div class=" uk-width-1-4"></div>
        <div class=" uk-width-2-4">
            {{ include('ville/_delete_form.html.twig') }}
        </div>
        <div class=" uk-width-1-4"></div>
    </div>
{% endblock %}
