{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
    <div class="uk-flex uk-padding-large">
        <div class=" uk-width-1-4"></div>
        <div class=" uk-width-2-4">
            <h1 class="uk-text-center">Edit Ville</h1>
        </div>
        <div class=" uk-width-1-4"></div>
    </div>


    <div>
        {{ include('ville/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="uk-button uk-button-default" href="{{ path('app_ville_index') }}">back to list</a>

        {{ include('ville/_delete_form.html.twig') }}
    </div>
{% endblock %}
